<head xmlns:th="http://www.thymeleaf.org">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.2/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/5.2.0/css/all.css}">
    <title>Timeclicker</title>
    <style type="text/css">
        main div.container-fluid {
            margin-top: 4em;
        }
    </style>
</head>
